/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVar", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/inter/Inter.var.woff2?v=4.0-beta7") format("woff2-variations"),
    url("/inter/Inter.var.woff2?v=4.0-beta7") format("woff2");
  src: url("/inter/Inter.var.woff2?v=4.0-beta7") format("woff2")
    tech("variations");
}

@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("/inter/Inter-Italic.var.woff2?v=4.0-beta7")
      format("woff2-variations"),
    url("/inter/Inter-Italic.var.woff2?v=4.0-beta7") format("woff2");
  src: url("/inter/Inter-Italic.var.woff2?v=4.0-beta7") format("woff2")
    tech("variations");
}

/* static fonts "Inter" */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/inter/Inter-Thin.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/inter/Inter-ThinItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/inter/Inter-ExtraLight.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/inter/Inter-ExtraLightItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/inter/Inter-Light.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/inter/Inter-LightItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/inter/Inter-Regular.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/inter/Inter-Italic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/inter/Inter-Medium.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/inter/Inter-MediumItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/inter/Inter-SemiBold.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/inter/Inter-SemiBoldItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/inter/Inter-Bold.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/inter/Inter-BoldItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/inter/Inter-ExtraBold.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/inter/Inter-ExtraBoldItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/inter/Inter-Black.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/inter/Inter-BlackItalic.woff2?v=4.0-beta7") format("woff2");
}
/* static fonts "InterDisplay" */
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/inter/Inter-DisplayThin.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/inter/Inter-DisplayThinItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/inter/Inter-DisplayExtraLight.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/inter/Inter-DisplayExtraLightItalic.woff2?v=4.0-beta7")
    format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/inter/Inter-DisplayLight.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/inter/Inter-DisplayLightItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/inter/Inter-DisplayRegular.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/inter/Inter-DisplayItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/inter/Inter-DisplayMedium.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/inter/Inter-DisplayMediumItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/inter/Inter-DisplaySemiBold.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/inter/Inter-DisplaySemiBoldItalic.woff2?v=4.0-beta7")
    format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/inter/Inter-DisplayBold.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/inter/Inter-DisplayBoldItalic.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/inter/Inter-DisplayExtraBold.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/inter/Inter-DisplayExtraBoldItalic.woff2?v=4.0-beta7")
    format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/inter/Inter-DisplayBlack.woff2?v=4.0-beta7") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/inter/Inter-DisplayBlackItalic.woff2?v=4.0-beta7") format("woff2");
}
