@import "font.css";
@import "normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "gotham pro", sans-serif;
  line-height: 1.3;
  background: #F3F4F6;
  margin: 0;
}

a {
  position: relative;
  text-decoration: none;
  color: #E53A40;
  transition: 300ms all ease-in-out;
  outline: none;
}

a::after {
  transition: 300ms all ease-in-out;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #E53A40;
  transform-origin: left center;
  transform: scaleX(0);
}

a:hover::after {
  transform: scaleX(1);
}
