@font-face {
	font-family: "Berkeley Mono";
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	src:
		url("./berkeley-mono-variable-regular.woff2") format("woff2-variations"),
		url("./berkeley-mono-variable-regular.woff2") format("woff2");
	src: url("./berkeley-mono-variable-regular.woff2") format("woff2")
		tech("variations");
}
