@import "tailwindcss";

@theme {
	--default-font-family: Berkeley Mono;
	--color-blue-screen: #1000f2;
	--color-link: #ea567c;
}

@layer base {
	.h-screen {
		height: 100vh;
	}

	@supports (-webkit-touch-callout: none) {
		.h-screen {
			height: -webkit-fill-available;
		}
	}
}

/*
	extend: {
		screens: {
			print: { raw: "print" },
			"media-fullscreen": {
				raw: "(display-mode: fullscreen)",
			},
			"media-standalone": {
				raw: "(display-mode: standalone)",
			},
			"media-minimal-ui": {
				raw: "(display-mode: minimal-ui)",
			},
			"media-browser": {
				raw: "(display-mode: browser)",
			},
			"media-window-controls-overlay": {
				raw: "(display-mode: window-controls-overlay)",
			},
		},
		colors: {
			blue: {
				screen: "#1000f2",
			},
			link: "#ea567c",
		},
		fontFamily: {
			sans: ["Berkeley Mono", ...defaultTheme.fontFamily.sans],
		},
	},
},
} */
